FLASK_ENV=development
SECRET_KEY=vjSmws35Eb4vQj7KVwAYBWuSTS4PsNz4
SQLALCHEMY_DATABASE_URI = "postgresql://admin:password@postgres:5432/thesis"
SOLR_BASE_URL=http://solr:8983/solr
MAKG_ENDPOINT = "https://makg.org/sparql"
AIDA_ENDPOINT = "https://aida.kmi.open.ac.uk/sparqlendpoint"
