<!-- Extend from base layout -->
{% extends "layouts/base.html" %}

{% block content %}
    <div class="search-container">
        <h1>SeQueX Search</h1>
        <form action="{{ url_for('search') }}" id="search-form">
            <div class="search-box-container">
                <input type="text" id="search-box" name="query" placeholder="Search for publications...">
                <button type="submit">Search</button>
            </div>
            <div class="radio-buttons">
            {% set current_option = request.args.get('search_option', 'sqe') %}
            <input type="radio" id="option1" name="search_option" value="sqe" {% if current_option=='sqe' %}checked{% endif %}>
            <label for="option1">Semantic Query Expansion</label>
            <input type="radio" id="option2" name="search_option" value="keyword" {% if current_option=='keyword' %}checked{% endif
                %}>
            <label for="option2">Keyword based</label>
            </div>
        </form>
    </div>
{% endblock %}